body {
  background-color: #ed044c;
    background-image: url("../assets/images/background.gif");
    background-repeat: repeat-x repeat-y;

}

canvas{
    margin-top: 100px;
    border-top: 4pt solid #ed044c;
    border-right: 4pt solid #ed044c;
    border-bottom: 4pt solid #ffaec7;
    border-left: 4pt solid #ffaec7;
}

.overlay {
  position: absolute;
}

.centered {
  text-align: center;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}


#join_btn, #leave_btn{
   background: none ;
    font-family: monospace, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1pt solid white;
    padding: 10px 20px 10px 20px;
}

#join_btn:hover {
    background: #ed044c;
}

#join_btn:active{
    background: #ffaec7;
}

#leave_btn:hover {
    background: #ed044c;
}

#leave_btn:active{
    background: #ffaec7;
}

#instructions{
    color: white;
    font-family: monospace, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    padding: 10px;
    margin-bottom: 5px;
}